/* 
    Document   : contact
    Created on : 2012-12-28, 21:30:23
    Author     : Damian
    Description:
        Purpose of the stylesheet follows.
*/

#contact-form {
    padding: 20px;
}
#contact {
    padding: 10px;
}