.recommended-list {
    float: left;
    height: 250px;
    margin: 0 30px 10px 20px;
    width: 250px;
}

.recommended-list h4 {
    font-weight: bold;
    color: #555555;
    margin-bottom: 1em;
}

.recommended-list ul {
    margin: 0;
    padding: 0 0 0 10px;
}

.recommended-list ul li {
    list-style-image: url("/images/kropka.png");
    /*list-style-position: inside;*/
    margin: 0 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    color: #2C71A5;
    font-weight: bold;
}

.recommended-list ul li a {
    text-decoration: none;
}

.recommended-list ul li a:hover {
    color: #2C71A5;
}