.roundedbox {
    width: 360px;
}

.roundedbox .gamedescr {
    margin-top: 5px;
    clear: both;
    height: 72px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content .center-content {
    width: 788px;
    border-right: none;
}

.resultsphrase {
    clear: both;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px; 
}