RewriteEngine on

# je¿eli katalog lub plik istnieje u¿yj ich bezpoœrednio
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# w przeciwnym razie przekieruj na index.php
RewriteRule . index.php